apiVersion: apps/v1
kind: Deployment
metadata:
  annotations: {}
  labels: {}
  name: jackett-vpn
  namespace: media
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: jackett-vpn
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations: {}
      labels:
        app: jackett-vpn
    spec:
      dnsPolicy: None
      dnsConfig:
        nameservers:
        - 8.8.8.8
        - 1.1.1.1
      containers:
      - name: vpn-sidecar
        image: qmcgaw/gluetun
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
        env:
        - name: VPN_SERVICE_PROVIDER
          value: "private internet access"
        - name: SERVER_REGIONS
          value: "AU Sydney,AU Melbourne,AU Perth"
        - name: OPENVPN_USER
          valueFrom:
            secretKeyRef:
              name: pia-credentials
              key: OPENVPN_USER
        - name: OPENVPN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: pia-credentials
              key: OPENVPN_PASSWORD
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
      - name: jackett-vpn
        image: lscr.io/linuxserver/jackett:latest
        env:
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        - name: TZ
          value: "Etc/UTC"
        - name: DOTNET_DNS_CACHE_TTL
          value: "0"
        - name: DOTNET_SYSTEM_NET_DISABLEIPV6
          value: "1"
        imagePullPolicy: Always
        ports:
        - containerPort: 9117
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 256Mi
          requests:
            cpu: 100m
            memory: 128Mi
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /config
          name: public-share
          subPath: configs/jackett
        - mountPath: /downloads
          name: public-share
          subPath: downloads/jackett
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount: default
      serviceAccountName: default
      terminationGracePeriodSeconds: 30
      volumes:
      - name: public-share
        persistentVolumeClaim:
          claimName: public-share