apiVersion: apps/v1
kind: Deployment
metadata:
  annotations: {}
  labels:
    app: sonarr
    chart: sonarr-0.1.0
    heritage: Helm
    release: sonarr
  name: sonarr
  namespace: media
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: sonarr
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdatecd tv
  template:
    metadata:
      labels:
        app: sonarr
        app: sonarr
        release: sonarr
    spec:
      containers:
         - env:
             - name: PUID
               value: "1000"
             - name: PGID
               value: "1000"
           image: linuxserver/sonarr:arm32v7-latest
           imagePullPolicy: IfNotPresent
           name: sonarr
           ports:
             - containerPort: 8989
               name: http
               protocol: TCP
           resources:
             limits:
               cpu: 500m
               memory: 256Mi
             requests:
               cpu: 100m
               memory: 128Mi
           terminationMessagePath: /dev/termination-log
           terminationMessagePolicy: File
           volumeMounts:
             - mountPath: /config
               name: public-share
               subPath: configs/sonarr
             - mountPath: /downloads
               name: public-share
               subPath: downloads/transmission
             - mountPath: /tv
               name: public-share
               subPath: library/tv
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
        - name: public-share
          persistentVolumeClaim:
            claimName: public-share
