apiVersion: v1
kind: Service
metadata:
  annotations: {}
  labels:
    app: sonarr
    chart: sonarr-0.1.0
    heritage: Helm
    release: sonarr
  name: sonarr
  namespace: media
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 8989
  selector:
    app: sonarr
  sessionAffinity: None
  type: ClusterIP
