apiVersion: apps/v1
kind: Deployment
metadata:
  annotations: {}
  labels:
    app: radarr
    chart: radarr-0.1.0
    heritage: Helm
    release: radarr
  name: radarr
  namespace: media
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: radarr
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
     metadata:
       labels:
         app: radarr
         release: radarr
      spec:
        initContainers:
        - name: chown-movies
          image: busybox
          command: ["sh", "-c", "chown -R 1000:1000 /movies"]
          volumeMounts:
          - mountPath: /movies
            name: public-share
            subPath: library/movies
          securityContext:
            runAsUser: 0
        containers:
         - env:
             - name: PUID
               value: "1000"
             - name: PGID
               value: "1000"
           image: linuxserver/radarr:arm32v7-latest
           imagePullPolicy: IfNotPresent
           name: radarr
           ports:
             - containerPort: 7878
               name: http
               protocol: TCP
           resources:
             limits:
               cpu: 500m
               memory: 256Mi
             requests:
               cpu: 100m
               memory: 128Mi
           terminationMessagePath: /dev/termination-log
           terminationMessagePolicy: File
           volumeMounts:
             - mountPath: /config
               name: public-share
               subPath: configs/radarr
             - mountPath: /downloads
               name: public-share
               subPath: downloads/transmission
             - mountPath: /movies
               name: public-share
               subPath: library/movies
       dnsPolicy: ClusterFirst
       restartPolicy: Always
       schedulerName: default-scheduler
       securityContext: {}
       terminationGracePeriodSeconds: 30
       volumes:
         - name: public-share
           persistentVolumeClaim:
             claimName: public-share
