apiVersion: v1
kind: Service
metadata:
  annotations: {}
  labels:
    app: radarr
    chart: radarr-0.1.0
    heritage: Helm
    release: radarr
  name: radarr
  namespace: media
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 7878
  selector:
    app: radarr
  sessionAffinity: None
  type: ClusterIP
