apiVersion: apps/v1
kind: Deployment
metadata:
  annotations: {}
  labels: {}
  name: transmission-vpn
  namespace: media
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: transmission-vpn
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: transmission-vpn
    spec:
      containers:
      - name: vpn-sidecar
        image: qmcgaw/gluetun
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
        env:
        - name: VPN_SERVICE_PROVIDER
          value: "private internet access"
        - name: SERVER_REGIONS
          value: "AU Sydney,AU Melbourne,AU Perth"
        - name: OPENVPN_USER
          valueFrom:
            secretKeyRef:
              name: pia-credentials
              key: OPENVPN_USER
        - name: OPENVPN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: pia-credentials
              key: OPENVPN_PASSWORD
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
      - name: transmission-vpn
        image: lscr.io/linuxserver/transmission:latest
        env:
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        - name: TZ
          value: "Etc/UTC"
        - name: PEERPORT
          value: "47444"
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9091
          name: http
          protocol: TCP
        resources: {}
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /config
          name: public-share
          subPath: configs/transmission
        - mountPath: /downloads
          name: public-share
          subPath: downloads/transmission
        - mountPath: /watch
          name: public-share
          subPath: watch/transmission
      dnsConfig:
        nameservers:
        - 8.8.8.8
        - 1.1.1.1
      dnsPolicy: None
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
        - name: public-share
          persistentVolumeClaim:
            claimName: public-share
