apiVersion: v1
kind: Service
metadata:
  annotations: {}
  labels: {}
  name: transmission-vpn
  namespace: media
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 9091
  selector:
    app: transmission-vpn
  sessionAffinity: None
  type: ClusterIP
